<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
        arguments="-Djava.net.preferIPv4Stack=true -Djavax.net.ssl.trustStore=&quot;%HOME%\site\wwwroot\cacerts&quot; -Dserver.port=%HTTP_PLATFORM_PORT% -Dlogging.file=%HOME%\LogFiles\iot-bulk-data-svc.log -jar &quot;%HOME%\site\wwwroot\iot-bulk-data-svc.jar&quot;" requestTimeout="00:08:00" startupTimeLimit="480" startupRetryCount="3">
		<environmentVariables>
			<environmentVariable name="CATALINA_OPTS" value="-Dport.http=%HTTP_PLATFORM_PORT% -Xms512m -Xmx2048m" />
		</environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
