<div id="currencies" ng-init="init()">
 
 	
	
	<div class="row ">
		<div ng-include src="albumsView"></div>
	</div>
	
 <div class="w3-section">
 <input type="text"  class="w3-input w3-border" id="exampleInput" name="userName" ng-model="userName" placeholder="Please enter your facebook name"
       required />
       
        <input type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" ng-click="getLikedPostsByName()" id="button-click" value="Get My Liked Posts "/> 
        
         <input type="text" class="w3-input w3-border" id="exampleInput" name="userNameC" ng-model="userNameC" placeholder="Please enter your facebook name"
       required />
       
        <input type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" ng-click="getCommentsPostsByName()" id="button-click" value="Get My Commented Posts "/> 
        
</div>
<div class="row ">
		<div ng-include src="listView"></div>
	</div>


</div>